<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835515540639-et8d64bg6mi3jtq39kfq24skpvvabgcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835515540639-et8d64bg6mi3jtq39kfq24skpvvabgcv</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUUOxb2OIg0GCcX3qUGLYTCagT035gs4</string>
	<key>GCM_SENDER_ID</key>
	<string>835515540639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentalOwner</string>
	<key>PROJECT_ID</key>
	<string>rental-system-9422a</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-system-9422a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835515540639:ios:a2081435f74965224eaeaa</string>
</dict>
</plist>